/*上传图片*/
.uploaded-pics {background:#fff;overflow:hidden;margin-bottom:20px;}
.publish-tit {padding:0 10px;color:#333;font-size:15px;}
.uploaded-pics .publish-tit {padding:8px 10px;}
.uploaded-pics ul {min-height:20px;border-top:1px solid #e6e6e6;}
.uploaded-pics ul li {margin-bottom:10px;width:96%;margin:10px auto;position:relative;}
.delete-pic {height:44px;width:44px;line-height:44px;font-size:12px;text-align:center;color:#fff;background:#fd3535;position:absolute;top:10px;left:10px;border-radius:50%;}
.upload-btn {background:#e3e3e3;height:44px;width:44px;border-radius:4px;float:right;margin:10px 20px;position:relative;}
.upload-btn:before {position:absolute;content:'';top:10px;left:20px;height:24px;width:4px;background:#fff;}
.upload-btn:after {position:absolute;content:'';top:20px;left:10px;height:4px;width:24px;background:#fff;}
.loading-pic {text-align:center;font-size:14px;color:#333;height:32px;line-height:32px;display:none;}

/*发布页面，有共用体现页面一些样式*/
.publish-inputs {margin-bottom:16px;}
.publish-inputs .label {width:64px;}
.publish-inputs .input-line {padding:0 10px;background:#fff;}
.publish-inputs .input-line.gap {margin-bottom:15px;border-bottom:none;}
.p-textarea {width:100%;padding:10px;box-sizing:border-box;background:#fff;margin-bottom:12px;}

/*我已发布的爆料*/
.published-list {background:#fff;}
.published-list ul li {padding:5px 30px 5px 10px;border-top:1px solid #e6e6e6;position:relative;}
.published-list ul li a .p-top {height:32px;font-size:14px;}
.published-list ul li a .id {width:72px;line-height:32px;float:left;}
.published-list ul li a .p-sign {height:20px;line-height:20px;color:#fff;margin-top:6px;width:64px;text-align:center;background:#c1d19d;float:left;border-radius:5px;}
.published-list ul li a .p-sign.pass {background:#eab7c8;}
.published-list ul li a .p-sign .icon-good {margin-right:3px;background:url(../images/bnwebapp/icon-good.png) no-repeat;background-size:14px 14px;width:14px;height:14px;display:inline-block;vertical-align:middle;}
.published-list ul li a .p-tit {color:#333;font-size:15px;}
.published-list ul li a .p-time {font-size:14px;}

/*爆料帮助*/
.help-content {background:#fff;padding:10px 12px;font-size:14px;color:#333;word-wrap:break-word;word-break:break-all;}
.help-content h2, .help-content h3 {font-weight:normal;padding-left:0;}
.help-content p {margin-bottom:3px;}
.help-content p span {background:#b4ecf9;}
.help-content p a {color:#5e5edc;font-weight:800;}
.help-content p img {margin:4px auto;}
.help-content .abstract {border-bottom:1px solid #e6e6e6;padding:8px 0 15px;}
.help-content .img-tit01 {margin:20px 0 12px;height:22px;width:169px;background:url(../images/publish-help/title-01.png) no-repeat;background-size:auto 22px;}
.help-content .img-tit02 {margin:15px 0 12px;height:17px;width:200px;background:url(../images/publish-help/title-02.png) no-repeat;background-size:auto 17px;}
.help-content p.f {color:#259fc4;font-size:15px;margin-top:20px;}