@charset "utf-8";
/** CSS Document
* Dec: global style
* Author: Mr.Black;
* Date: 2015-07-18;
**/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
fieldset, img {border:0px;}
body {min-width:320px;max-width:640px;margin:0 auto;font-family:Hiragino Sans GB,Arial,Helvetica,sans-serif;background:#f2f2f2;-webkit-font-smoothing:antialiased;color:#666;}
i,em {font-style:normal;}
a {cursor:pointer;text-decoration:none;color:#666;display:block;}
a:active, a:hover {outline:none;}
ul, li {list-style:none;}
em,i {font-style:normal;}
img {width:100%; display:block;}
button, input, select, textarea {font-size:100%;outline:0;border-radius:0;border:none;}
textarea, input ,a {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
textarea, input {resize:none;}
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}

.single-line {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
h2 {height:36px;line-height:36px;font-size:18px;font-weight:800;color:#000;padding-left:10px;}
h3 {height:30px;line-height:30px;font-size:16px;font-weight:600;color:#000;padding-left:10px;}
.hide {display:none !important;}
/*弹性布局*/
.box-layout {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.box-col {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:100%;}

/*下载app提示*/
.app {height:60px;background:#ddd url(../images/app-pro/bg-image.png) no-repeat right 5px;background-size:auto 50px;position:relative;}
.app .logo-icon {float:left;margin:10px 6px;height:40px;width:40px;background:url(../images/app-pro/icon.png) no-repeat;background-size:40px auto;}
.app .download-text {float:left;color:#222;font-size:12px;margin-top:10px;line-height:20px;}
.app .download-tip {float:right;font-size:14px;height:28px;line-height:28px;width:86px;text-align:center;border-radius:3px;margin:16px 40px 0 0;color:#fff;background:#430D49;}
.app .close-dl {position:absolute;top:8px;right:0;width:32px;height:44px;background:url(../images/app-pro/close.png) no-repeat center center;background-size:16px auto;}
/*头部*/
.header {position:relative;background:#430D49;height:50px;line-height:50px;padding-left:10px;}
.header .back {position:relative;height:50px;padding-left:15px;color:#fff;}
.header .back:after {border:2px solid #fff;position:absolute;left:4px;top:50%;margin-top:-8px;display:block;content:"";width:12px;height:12px;border-top:none;border-right:none;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.header .header-title {color:#fff;margin:0 20px;text-align:center;font-weight:800;font-size:18px;}
.header .logo {position:absolute;top:0;left:50%;margin-left:-50px;width:100px;height:50px;background:url(../images/bnwebapp/logo.png) no-repeat 0 center;background-size:100px 20px;}
.header .blank-space {width:55px;}
.header .city {position:relative;float:left;font-weight:800;height:50px;line-height:50px;color:#f4f2f4;padding:0 16px 0 0;}
.header .city:after {border:2px solid #f4f2f4;position:absolute;right:2px;top:50%;margin-top:-7px;display:block;content:'';width:8px;height:8px;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.header .me {float:right;height:100%;width:44px;background:url(../images/bnwebapp/icon-me.png) no-repeat center center;background-size:20px 20px;}
.header .header-text {color:#fff;font-size:15px;width:55px;height:50px;line-height:50px;text-align:center;}
/*菜单*/
.nav{height:44px;background:#fff;}
.nav-box {text-align:center;position:relative;}
.nav-box ul{background:#fff;box-shadow:0 0 8px rgba(0, 0, 0, 0.3);overflow:hidden;}
.nav-box ul li {float:left;}
.nav-box ul li a {position:relative;display:block;color:#333;font-size:16px;font-weight:800;height:20px;padding:12px 14px;}
.nav-box ul li a:after {position:absolute;top:25%;right:0;height:50%;width:1px;background:#e2e2e2;content:"";display: block;}
.nav-box ul li a.active {color:#259fc4;}
.nav-box ul li a.active:before{position:absolute;content:"";left:0;right:0;bottom:0;border-bottom:2px solid #259fc4;}
.nav-box ul li:last-child a:after {display:none;}
.nav-box .search {position:absolute;top:0;right:0;height:44px;border-left:1px solid #e6e6e6;width:44px;background:url(../images/bnwebapp/icon-search.png) no-repeat center center;background-size:20px 20px;}
.fixed {position:fixed !important;z-index:9900;top:0;width:100%;max-width:640px;min-width:320px;}

.main {margin:16px 0;position:relative;}
.tit{padding-left:10px;height:36px;font-weight:800;line-height:36px;color:#333;}
.img-box{background:#e0e0e0 url(../images/bnwebapp/logo.png) no-repeat center center;background-size:80px 16px;border-bottom:1px solid #efefef;}

/*焦点图*/
.banner_wrapper {position:relative; width:100%; padding-top:40%; overflow:hidden;margin-bottom:12px;}
.banner_wrapper .sliders, .banner_wrapper .holder {position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden;}
.pointers { position:absolute; bottom:0; width:100%;text-align:center; height:20px; line-height:20px;}
.pointers i:first-child {margin-left:0;}
.pointers i {display:inline-block; margin-left:4px; width:8px; height:8px; background:#259fc4; border-radius:4px;}
.pointers i.active {background:none; border:2px solid #259fc4; box-sizing:border-box;}

/*Banner*/
.banner-list {margin-bottom:12px;}
.banner-list ul li {margin-bottom:8px;background:#fff;position:relative;}
.banner-list ul li a .img {min-height:48px;position:relative;}
.banner-list ul li a .title {color:#333;font-weight:800;font-size:15px;padding:5px 8px;line-height:24px;}
.banner-list ul li a .sub-title {position:absolute;font-size:14px;left:0;right:0;bottom:0;padding:5px 8px;color:#ccc;background:rgba(0, 0, 0, 0.6) !important;filter:Alpha(opacity=60);background:#555;}
/*活动、优惠券列表*/
.deal-group {margin-bottom:15px;}
.list {margin-bottom:10px;background:#fff;}
.list .sub {padding:10px;color:#333;}
.list .sub .distance {float:right;font-size:12px;color:#666;margin-top:2px;}
.list a {padding:6px;border-top:1px solid #e6e6e6;font-size:14px;position:relative;}
.list a:first-child {border-top:none;}
.list a .img {height:90px;width:90px;border-radius:2px;overflow:hidden;}
.expired {position:absolute;left:15px; top:15px; height:60px; line-height:60px; width:60px; border-radius:50%; background:rgba(0,0,0,0.8) !important; text-align:center; color:#fff; font-size:14px;}
.expired:before {position:absolute; top:2px; left:2px; content:''; width:56px; height:56px; border-radius:50%; border:1px dotted #fff; box-sizing:border-box;}
.list a .cont {position:relative;height:90px;margin-left:8px;}
.list a .cont .shop-name {height:18px;line-height:18px;color:#333;margin:2px 0;overflow:hidden;}
.list a .cont .title {color:#3e3e3e;font-size:15px;font-weight:800;margin-top:2px;line-height:20px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.list a .cont .time {position:absolute;left:0;bottom:2px;font-size:14px;height:16px;line-height:16px;}
.list a .cont .status-info {position:absolute;bottom:2px;right:0;font-size:12px;color:#666;}
.list a .cont .distance {position:absolute;font-size:12px;color:#666;right:6px;bottom:6px;}
.more {height:44px;line-height:44px;text-align:center;color:#259fc4;background:#fff;font-weight:bold;}
.list .more{font-size:16px;font-weight:normal;padding:0;}

/*分类*/
.category {position:relative;z-index:8900;height:44px;line-height:44px;cursor:pointer;background:#fff;margin:12px 0;color:#333;font-weight:800;}
.category>a {width:50%;float:left;position:relative;box-sizing:border-box;text-align:center;}
.category>a:first-child:after {content:'';height:24px;width:1px;background:#e6e6e6;position:absolute;top:10px;right:0;}
.category>a span {display:inline-block;}
.category .on .drop{-webkit-transform:rotate(135deg);transform:rotate(135deg);top:2px;}
.drop {border:2px solid #666;border-top:none;border-right:none;display:inline-block;width:8px;height:8px;margin-left:8px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-2px;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;-webkit-backface-visibility:hidden;}
.selector {position:absolute;z-index:9999;top:48px;left:0;height:240px;width:100%;overflow:hidden;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-weight:normal;background:#fff;}
.selector .selector-sub {border-bottom:1px solid #e6e6e6;}
.selector .selector-sub a {margin:0 5px;font-size:15px;padding-left:10px;height:44px;line-height:44px;border-bottom:1px dashed #e6e6e6;background:#fff;}
.selector .selector-sub a:last-child{border-bottom:none;}
.selector ul li>a, .selector ul li>span {display:block;padding:14px 0;line-height:16px;border-bottom:1px solid #e6e6e6;background:#fff;padding-left:10px;color:#333;}
.selector ul li a.active {color:#259fc4;}
.selector ul li:last-child a{border-bottom:none;}

/*弹窗透明背景*/
.overlay {position:fixed;z-index:8000;top:0px;left:0px;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);}

/*详情页*/
.home {height:50px;width:44px;background:url(../images/bnwebapp/icon-home.png) no-repeat center center;background-size:25px 21px;margin-right:10px;}
.info {background:#fff;}
.info-img {max-width:640px;max-height:268px;margin:0 auto;overflow:hidden;}
.intro {padding:4px 10px;}
.intro h3 {padding:0 0 2px 0;height:auto;font-weight:normal;line-height:24px;}
.intro p {line-height:24px;color:#666;font-size:14px;}
.shop-info {border-top:1px solid #e6e6e6;padding:8px 0 8px 10px;line-height:15px;font-size:15px;}
.shop-info h4 {color:#333;font-weight:400;line-height:20px;padding:4px 0;}
.address {padding:4px 0;}
.tel {width:64px;border-left:1px solid #e6e6e6;background:url(../images/bnwebapp/tel.png) no-repeat center center;background-size:20px 25px;}
.shop-address, .shop-tel {position:relative;padding:10px 30px 10px 18px;}/*商家详情页的地址和电话信息*/
.shop-tel {border-top:1px solid #e6e6e6;}
.loc {background:url(../images/bnwebapp/icon-loc.png);}
.tel-grey {background:url(../images/bnwebapp/tel-grey.png);}
.loc, .tel-grey {position:absolute;top:50%;margin-top:-9px;left:0;width:10px;height:15px;background-size:10px 15px;margin-right:5px;}
.main-info {margin:12px 0;}
.desc, .condition {background:#fff;padding:10px;font-size:14px;}
.desc p, .condition p{margin:5px 0;line-height:20px;}
.desc img, .condition img {width:auto;max-width:100%;margin:5px auto;}
.comment-cont {background:#fff;margin:10px 0;padding-bottom:6px;}
.comment-tit {position:relative;height:44px;line-height:44px;border-bottom:1px solid #e6e6e6;padding-left:10px;}
.comment-list {padding:10px 0 0 6px;font-size:14px;}
.user-img {height:60px;width:60px;border-radius:50%;overflow:hidden;margin-right:12px;}
.username {color:#333;}
.stars {margin:6px 0;width:67px;height:12px;background:url(../images/bnwebapp/stars.png);background-size:67px auto;}
.star5 {background-position:0 0;}
.star4 {background-position:0 -15px;}
.star3 {background-position:0 -30px;}
.star2 {background-position:0 -44px;}
.star1 {background-position:0 -59px;}
.comment-info {margin:6px 0;padding-right:8px;line-height:20px;word-wrap:break-word;word-break:break-all;}
.goto {position:absolute;right:15px;top:50%;background-size:8px 14px;margin-top:-4px;border:2px solid rgba(0,0,0,0.2);transform: rotate(45deg);width:8px;height:8px;border-bottom:none;border-left:none;-webkit-transform:rotate(45deg);}
.action {background:#fff;margin:10px 0;padding:8px 0;text-align:center;font-size:14px;}
.action a {border-right:1px solid #e6e6e6}
.action a:last-child {border-right:none;}
.action i{height:25px;width:26px;display:block;margin:0 auto 2px;background-size:26px auto;}
.collect {background:url(../images/bnwebapp/icon-collect.png);background-position:0 -27px;}
.collected {background-position:0 0;}
.comment {background:url(../images/bnwebapp/icon-comment.png);}
.save-pic {background:url(../images/bnwebapp/icon-savepic.png);}
.share {background:url(../images/bnwebapp/icon-share.png);}
.main-info .list a:first-child {border-top:none;}

.more-shops {position:relative;color:#259fc4;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;padding-left:8px;height:44px;line-height:44px;box-sizing:border-box;}
.more-shops .goto {border:2px solid #259fc4;border-bottom:none;border-left:none;}
.biz-count {height:32px;line-height:32px;color:#666;margin:0;padding-left:8px;}
.shops-wrapper {border-bottom:1px solid #e6e6e6;background:#fff;}
.shops-wrapper ul li {border-top:1px solid #e6e6e6;position:relative;padding:8px;}
.shops-wrapper ul li h4 {font-size:15px;margin-bottom:5px;color:#000;}
.shops-wrapper ul li .address {color:#666;font-size:14px;padding:0;}

/*评论页面*/
.comment-link {height:44px;line-height:44px;text-align:center;color:#333;margin-bottom:10px;background:#fff;}
.comment-wrapper {background:#fff;padding:5px 0;}
.comment-wrapper h3 {border-bottom:1px solid #e6e6e6;}
.comment-wrapper ul {padding:0 4px;}
.comment-wrapper ul li {border-bottom:1px solid #e6e6e6;}
.comment-wrapper ul li:last-child {border-bottom:none;}
/*分享*/
.share_wrapper {position:fixed;z-index:9999;left:5%;bottom:-208px;width:90%;-webkit-transition:all 0.3s ease-in; transition:all 0.3s ease-in; -webkit-backface-visibility:hidden;}
.share_wrapper a {height:44px; line-height:44px; font-size:15px; color:#259fc4; background:#fff; text-align:center; box-sizing:border-box;}
.share_wrapper a.share_btn {border-bottom:1px solid #e4e4e4;}
.share_wrapper a.share_btn:first-child {border-top-left-radius:4px; border-top-right-radius:4px;}
.share_wrapper a.share_btn:nth-child(3) {border-bottom-left-radius:4px; border-bottom-right-radius:4px; border-bottom:none;}
.share_wrapper a.cancel_share {margin:16px 0; border-radius:4px;}
/*详情页面里面列表样式*/
.main-info .list {border:none;margin:0;}

/*商家*/
.shop-list {max-width:640px;margin:15px auto 5px;}
.shop-list .category {width:96%;margin:12px auto;border-radius:4px;box-sizing:border-box;}
.shop-list .selector {border-radius:4px;border:none;}
.shop-list>ul li {position:relative;width:47%;float:left;margin:0 0 2% 2%;background:#fff;padding-bottom:8px;border-radius:4px;overflow:hidden;}
.shop-list>ul li a .shop-name{margin:5px 5px 2px;height:18px;line-height:18px;font-size:16px;color:#333;}
.shop-list>ul li a .address {padding:0 5px;height:16px;line-height:16px;font-size:12px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.shop-list>ul li a .distance {font-size:12px;margin:6px 4px 0 0;}
.shop-list .more {background:#fff;width:96%;margin:0 auto;border-radius:4px;}

/*登录注册界面，修改密码，提示，取消收藏成功提示*/
.input-wrapper {background:#fff;}
.input-line {height:44px;line-height:44px;padding:8px 10px;border-bottom:1px solid #e6e6e6;position:relative;} /*提现页面共享*/
.input-line:last-child {border-bottom:none;}
.icon-login {margin:10px 4px 0 0;width:19px;height:22px;background:url(../images/bnwebapp/icon_login.jpg);background-size:19px auto;}
.forName {background-position:0 0;}
.forPassword {background-position:0 -22px;}
.info-input {line-height:28px;height:44px;padding:8px 10px;width:100%;box-sizing:border-box;}
.input-wrapper .info-input {border-bottom:1px solid #e6e6e6;}
.input-wrapper .info-input:last-child {border-bottom:none;}
.signup-wrapper {width:96%;margin:0 auto;}
.signup-wrapper .info-input {border-radius:3px;margin-top:10px;}
.signup-wrapper .get-vericode {height:44px;line-height:44px;font-size:14px;text-align:center;background:#e3e3e3;border-radius:3px;width:90px;margin:10px 0 0 10px;}
.user-terms {width:96%;margin:15px auto;font-size:12px;}
.user-terms a {color:#259fc4;display:inline-block;margin:0 5px;}
.login-tips, .error-tips {color:#f00;font-size:14px;text-align:center;visibility:hidden;height:20px;line-height:20px;}
.login-btn, .reset-password, .submit-btn {width:96%;margin:0 auto;height:44px;line-height:44px;border-radius:4px;background:#259fc4;color:#fff;text-align:center;}
.forget-password {height:44px;line-height:44px;color:#259fc4;font-size:14px;width:72px;text-align:right;float:right;margin-right:2%;}
.login-success, .delete-success, .comment-tip, .tip {display:none;position:fixed;left:50%;margin-left:-120px;top:50%;margin-top:-24px;color:#fff;border-radius:6px;height:48px;line-height:48px;width:240px;text-align:center;background:rgba(0, 0, 0, 0.8)!important;filter:alpha(opacity=80);background:#000;}
/*用户协议*/
.terms-wrapper {padding:15px;background:#fff;}
/*个人中心*/
.ucenter-header {background:#430D49;padding:12px 0 16px;}
.ucenter-header .user-img {margin:0 auto;}
.ucenter-header .username {color:#fff;text-align:center;margin-top:12px;font-size:15px;}

.user-nav {background:#fff;height:48px;line-height:48px;text-align:center;box-shadow:0 0 8px rgba(0, 0, 0, 0.3);}
.user-nav a {color:#333;position:relative;}
.user-nav a:after {display:block;position:absolute;content:'';right:0;top:10px;height:28px;border-right:1px solid #e6e6e6;}
.user-nav a:last-child:after {display:none;}
.collect-tit {position:relative;height:46px;line-height:46px;background:#fff;margin-top:14px;font-size:18px;color:#333;padding:0 2%;}
.edit-btn {height:46px;width:46px;text-align:center;position:absolute;right:2%;bottom:0;}

.ucenter-menu {margin-bottom:15px;}
.ucenter-menu ul li {border-bottom:1px solid #e6e6e6;position:relative;}
.ucenter-menu ul li:last-child {border-bottom:none;}
.ucenter-menu ul li.gap {margin-bottom:15px;border-bottom:none;}
.ucenter-menu ul li a {background:#fff;height:44px;line-height:44px;position:relative;padding:0 10px;color:#333;font-size:15px;}
.amount-of-money {float:right;color:#f00;font-weight:800;}

.ucenter-icon {display:inline-block;vertical-align:middle;position:relative;top:-3px;margin-right:4px;height:20px;width:20px;background:url(../images/bnwebapp/ucenter-icon.png);background-size:auto 20px;}
.ui-rp {background-position:0 0;}
.ui-collect {background-position:-20px 0;}
.ui-alipay {background-position:-43px 0;}
.ui-mobile {background-position:-66px 0;}
.ui-withdraw {background-position:-88px 0;}
.ui-wr {background-position:-111px 0;}
.ui-publish {background-position:-156px 0;}
.ui-published {background-position:-134px 0;}
.ui-wallet {background-position:-179px 0;}

.collection-category, .search-result-category {background:#fff;border-bottom:1px solid #e6e6e6;height:44px;line-height:44px;text-align:center;}
.collection-category a, .search-result-category a {position:relative;color:#333;padding:0 4px;}
.collection-category a:after, .search-result-category a:after {display:block;position:absolute;content:'';right:0;top:10px;height:24px;border-right:1px solid #e6e6e6;}
.collection-category a:last-child:after, .search-result-category a:last-child:after{display:none;}
.collection-category a.active, .search-result-category a.active{color:#259fc4;}

.delete-collection {display:none;position:absolute;top:50%;margin-top:-32px;left:50%;margin-left:-32px;width:64px;height:64px;border-radius:50%;background:rgba(0, 0, 0, 0.6)!important;filter:alpha(opacity=60);background:#000;text-align:center;color:#fff;}
.delete-collection span {height:14px;line-height:14px;font-size:12px;}
.delete-icon {width:16px;height:22px;margin:12px auto 0;background:url(../images/bnwebapp/icon-delete.png);background-size:16px 22px;display:block;}

/*搜索页面*/
.search-container {background:#fff;padding:16px 2%;border-bottom:1px solid #e6e6e6;}
.search-input-cont {border:1px solid #e6e6e6;border-right:none;border-radius:4px 0 0 4px;}
.search-input {background:#fafafa;height:40px;line-height:40px;padding:0 10px;width:100%;box-sizing:border-box;border-radius:4px 0 0 4px;}
.search-btn {height:42px;width:68px;line-height:42px;text-align:center;color:#fff;background:#259fc4;border-radius:0 4px 4px 0;}
.hot-words, .search-history {background:#fff;line-height:40px;margin-bottom:16px;}
.hot-words h3, .search-history h3 {border-bottom:1px solid #e6e6e6;padding-left:2%;height:36px;line-height:36px;}
.hot-words ul li {border-bottom:1px solid #e6e6e6;overflow:hidden;}
.hot-words ul li a{float:left;position:relative;width:25%;height:40px;text-align:center;border-radius:2px;color:#333;}
.hot-words ul li:not(:nth-child(4n)) a:after {content:"";display:block;position:absolute;right:0;top:50%;height:16px;margin-top:-8px;width:1px;background:#e6e6e6;}
.hot-words ul li:last-child {border-bottom:none;}
.search-history ul li{border-bottom:1px dashed #e6e6e6;line-height:20px;padding:10px;}
.search-history ul li:last-child {border-bottom:0;}
.clear-history {height:40px;text-align:center;border-top:1px solid #e6e6e6;}

/*搜索结果*/
.search-result-wrapper .list, .search-result-wrapper .shop-list{margin-top:0;}

/*切换城市页面*/
.city-position {height:44px;line-height:44px;background:#fff;text-align:center;color:#333;}
.city-list {margin:16px 0;background:#fff;}
.city-list a {position:relative;padding-left:16px;height:44px;line-height:44px;border-bottom:1px solid #e6e6e6;color:#333;}
.city-list a:last-child {border-bottom:none;}

/*评论页面*/
.comment-page {background:#fff;}
.comment-page .main {width:96%;margin:16px auto;}
.comment-stars {padding:0 0 8px 0;}
.comment-stars span {display:inline-block;margin-right:4px;color:#333;height:40px;line-height:40px;}
.comment-stars a {height:36px;width:36px;display:inline-block;vertical-align:middle;background:url(../images/bnwebapp/icon-star.png);background-size:36px auto;}
.comment-stars a.star-on {background-position:0 -36px;}
.comment-tarea {border:1px solid #e3e3e3;height:auto;border-radius:4px;margin:12px 0;box-sizing:border-box;background:#f6f6f6;}
.comment-tarea textarea {background:#f6f6f6;padding:10px;width:100%;border-radius:4px;box-sizing:border-box;}
.comment-btn {height:44px;line-height:44px;text-align:center;border-radius:4px;background:#259fc4;color:#fff;margin:12px 0;font-size:18px;}
.comment-tip {top:0;margin-top:138px;}

/*显示地图*/
.map-container {height:320px;width:100%;background:#f4f4f4;}
.map-location {width:25px;height:32px;background:url(../images/bnwebapp/icon-map-loc.png);background-size:25px auto;display:block;}
.marker {position:absolute;left:50%;margin-left:-88px;background:#fff;border-radius:4px;bottom:46px;padding:8px;width:160px;text-align:center;opacity:0.9;color:#333;-webkit-filter:drop-shadow(0 0 4px rgba(0,0,0,0.5));}
.marker:after {content:"";position:absolute;left:50%;margin-left:-8px;bottom:-8px;width:16px;height:16px;-webkit-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);background:#fff;}
.map-site {position:relative;padding:18px 120px 18px 10px;background:#fff;color:#333;line-height:18px;}
.go-there {position:absolute;top:50%;margin-top:-16px;right:10px;background:#259fc4;width:100px;height:34px;line-height:34px;text-align:center;border-radius:4px;color:#fff;}
/*显示地图页面推荐商家*/
.shop-list h3 {margin-bottom:4px;border-top:1px solid #e6e6e6;}

/*提现页面*/
.withdraw-tit{height:44px;line-height:44px;padding:0 10px;color:#333;margin-bottom:10px;}
.withdraw-tit span {color:#ff5a27;}
.withdraw-all {float:right;height:44px;color:#259fc4;}
.withdraw-inputs, .binding-inputs, .forget-inputs {background:#fff;} /*绑定，提现，忘记密码表单*/
.label {width:80px;margin-right:5px;font-size:15px;color:#333;}
.wd-input, .p-input, .f-input {padding:12px 0;height:20px;width:100%;}
.get-code {background:#259fc4;font-size:14px;height:36px;line-height:36px;margin-top:4px;color:#fff;margin-left:6px;border-radius:3px;padding:0 10px;}
.wd-tip {margin:10px 0 10px 10px;font-size:12px;}
.cont {background:#fff;}
.withdraw-success , .binding-success{padding:20px 0;width:70%;margin:0 auto;font-size:14px;line-height:18px;background:#fff;}
.success {margin:4px 10px 0 0;width:30px;height:30px;background:url(../images/bnwebapp/icon-success.png) no-repeat;background-size:30px auto;display:block;}
.s-tit {color:#259fc4;}
.alipay-info {border-top:1px solid #e6e6e6;padding:10px;}
.alipay-info ul li {height:24px;line-height:24px;margin-bottom:8px;}
.alipay-info ul li span {float:right;}
.alipay-info ul li:last-child {border-top:1px dashed #e6e6e6;padding-top:10px;}
.binding-tit, .forget-tit {font-size:14px;margin:0 10px 6px;}
.g-b {background:#CCC;}

ul.withdraw-records li {border-top:1px solid #e6e6e6;padding:12px;}
ul.withdraw-records li:first-child {border-top:none;}
.alipay-account {color:#333;margin-bottom:8px;}
.withdraw-time {font-size:12px;}
.withdraw-status {margin-left:5px;}
.withdraw-amount {font-size:18px;font-weight:800;color:#333;margin-bottom:2px;}
.complete {color:#fc2a00;}
ul.withdraw-records .more {border-top:1px solid #e6e6e6;font-weight:normal;font-size:15px;}

/*没有结果样式*/
.no-result {text-align:center;padding:48px 0;line-height:20px;font-size:15px;}
.search_no-result {padding:16px 0;background:#fafafa;margin-bottom:16px;}
/*加载动画*/
.loading {margin:12px auto;position:relative;border:1px solid #259fc4;border-left:1px solid #fff;-webkit-animation:loader 0.5s infinite linear;animation:loader 0.5s infinite linear;}
.loading, .loading:after {border-radius:50%;width:16px;height:16px;}
@-webkit-keyframes loader { 0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);} 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);} }
@keyframes loader { 0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);} }

.back-top {position:fixed;bottom:50px;right:4%;height:44px;width:44px;border-radius:50%;background:#259fc4;display:none;}
.back-top:after {position:absolute;top:17px;left:14px;content:'';border:2px solid #fff;width:14px;height:14px;border-top:none;border-right:none;-webkit-transform:rotate(135deg);transform:rotate(135deg);}

.footer {text-align:center;margin-top:24px;padding:16px 0 50px;background:#fff;}
.footer a {display:inline-block;color:#666;height:32px;line-height:32px;font-size:14px;}
.footer em {color:#999;padding:0 12px;font-weight:400;font-style:normal;}
.footer .copyright {color:#d1d1d1;margin-top:20px;text-shadow:0 1px 1px #fff;font-size:12px;}